/* font link */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif !important;
}

body {
  background-color: #f5f0bb !important;
}

/* navbar */
.logo {
  width: 100px;
}

.nav-bg {
  background-color: #b3c890 !important;
}

.nav-link:hover {
  background-color: #dbdfaa;
  border-radius: 5px;
}

.active {
  background-color: #dbdfaa !important;
  border-radius: 5px !important;
}

/* heading */
.heading {
  background-color: #dbdfaa;
}

/* main */
.blue-bg {
  background-color: #73a9ad !important;
}

.contact {
  background-color: #b3c890 !important;
  width: 70%;
  left: 15%;
}

.heading-text {
  background-color: #b3c890 !important;
}
/* footer */
.icons {
  width: 27px;
  padding: 5px;
}

@media screen and (max-width: 550px) {
  .contact form input,
  .contact form textarea {
    width: 100% !important;
  }
}

/* media queries */
@media screen and (max-width: 400px) {
  .nav-name {
    display: none;
  }
}
