/* font link */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #F5F0BB !important;
}

/* navbar */
.logo {
    width: 100px;
}

.nav-bg {
    background-color: #B3C890 !important;
}

.nav-link:hover {
    background-color: #DBDFAA;
    border-radius: 5px;
}

.active {
    background-color: #DBDFAA !important;
    border-radius: 5px !important;
}

/* heading */
.heading {
    background-color: #DBDFAA;
}

/* table */
table tr {
    border: 1px solid black !important;
    background-color: #DBDFAA;
}

.blue-bg {
    background-color: #73A9AD;
}

.modal-content {
    background-color: #F5F0BB !important;
}

/* footer */
.icons {
    width: 27px;
    padding: 5px;
}

@media screen and (max-width: 550px) {
    #table-display img {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    #table-display {
        font-size: 12px;
    }

    #table-display .btn {
        font-size: 10px;
    }
}

@media screen and (max-width: 330px) {
    #table-display {
        font-size: 10px;
    }

    #table-display .btn {
        font-size: 8px;
    }
}