/* font link */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f5f0bb !important;
}

/* navbar */
.logo {
  width: 100px;
}

.nav-bg {
  background-color: #b3c890 !important;
}

.nav-link:hover {
  background-color: #dbdfaa;
  border-radius: 5px;
}

.active {
  background-color: #dbdfaa !important;
  border-radius: 5px !important;
}

/* main */
.heading {
  background-color: #dbdfaa;
}

.blue-bg {
  background-color: #73a9ad;
}

.rem-btn {
  color: rgb(188, 2, 2);
  background-color: #73a9ad;
  border: 1px solid rgb(188, 2, 2);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

.rem-btn:hover {
  color: #73a9ad;
  background-color: rgb(188, 2, 2);
}

main {
  min-height: 90vh;
}

/* footer */
.icons {
  width: 27px;
  padding: 5px;
}

/* media queries */
@media screen and (max-width: 400px) {
  .nav-name {
    display: none;
  }
}
