/* font link */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #F5F0BB !important;
}

/* navbar */
.logo {
    width: 100px;
}

.nav-bg {
    background-color: #B3C890 !important;
}

.nav-link:hover {
    background-color: #DBDFAA;
    border-radius: 5px;
}

.active {
    background-color: #DBDFAA !important;
    border-radius: 5px !important;
}

/* main */
.heading {
    background-color: #DBDFAA;
}

.blue-bg {
    background-color: #73A9AD;
}

.rem-btn {
    color: rgb(188, 2, 2);
    background-color: #73A9AD;
    border: 1px solid rgb(188, 2, 2);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.rem-btn:hover {
    color: #73A9AD;
    background-color: rgb(188, 2, 2);
}

/* footer */
.icons {
    width: 27px;
    padding: 5px;
}