* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif !important;
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #F5F0BB !important;
}

/* navbar */
.logo {
    width: 100px;
}

.nav-bg {
    background-color: #B3C890 !important;
}

/* heading */
.heading {
    background-color: #DBDFAA;
}

/* sort & filter */
.sort-btns, .filter-btns {
    background-color: #B3C890;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

/* main - books */
#books {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
}

#books div {
    background-color: #73A9AD;
    margin: 10px;
    padding: 20px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#books .add-btn {
    padding: 5px;
    background-color: #DBDFAA;
    border-radius: 5px;
}

/* modal */
.modal-content {
    background-color: #F5F0BB !important;
}

.rem-btn {
    color: rgb(188, 2, 2);
    background-color: #F5F0BB;
    border: 1px solid rgb(188, 2, 2);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.rem-btn:hover {
    color: #F5F0BB;
    background-color: rgb(188, 2, 2);
}

/* footer */
.icons {
    width: 27px;
    padding: 5px;
}

/* media queries */
@media screen and (max-width: 700px) {
    .sort-and-filter h4 {
        font-size: 15px;
        margin: 0 !important;
        padding: 0 !important;
    }

    .btns button {
        font-size: 15px;
        padding: 5px !important;
        margin: 0 !important;
    }

    #books {
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 3%;
        place-content: center;
    }
}

@media screen and (max-width: 500px) {
    .sort-and-filter h4 {
        font-size: 10px;
        margin: 0 !important;
        padding: 0 !important;
    }

    .btns button {
        font-size: 10px;
        padding: 2px !important;
        margin: 0 !important;
    }

    #books {
        display: grid;
        grid-template-columns: 93%;
    }
}